@use "../variables";
@use "../mixins";

.practice-header {
  width: 100%;
  padding: 60px;
  background-color: variables.$color-yellow;

  @include mixins.screen(xxl) {
    padding: 50px;
  }

  @include mixins.screen(xl) {
    padding: 40px;
  }

  @include mixins.screen(lg) {
    padding: 30px;
  }

  @include mixins.screen(md) {
    padding: 20px;
  }

  @include mixins.screen(sm) {
    padding: 10px;
  }

  .header-wrapper {
    width: 50%;
    text-align: center;
    margin-right: auto;
    margin-left: auto;

    .hashtag {
      font-family: variables.$heading-font;
      font-size: 1.8rem;
      line-height: 30px;
    }

    h1 {
      margin-top: 10px;
      font-weight: 800;
      font-size: 6rem;
      line-height: 70px;

      @include mixins.screen(xl) {
        font-size: 5rem;
      }

      @include mixins.screen(lg) {
        font-size: 4rem;
      }

      @include mixins.screen(md) {
        font-size: 3rem;
      }

      @include mixins.screen(sm) {
        font-size: 2rem;
      }
    }

    p {
      margin-top: 20px;
      font-size: 1.8rem;
      line-height: 30px;
    }
  }
}
