@use "../mixins";

@use "../variables";

.header {
  width: 100%;
  padding: 30px;
  background-color: variables.$color-yellow;
  overflow: hidden;
}

.header-bar {
  height: 67px;
  line-height: 67px;

  //Logo
  .header-logo {
    font-size: 1.4rem;
    text-align: center;
    font-family: variables.$heading-font;
    line-height: 14px;
    justify-self: start;

    @include mixins.screen(xl) {
      justify-self: end;
    }

    @include mixins.screen(lg) {
      display: none;
    }

    // @include mixins.screen(md) {
    //   display: none;
    // }

    i {
      font-size: 3.1rem;
    }

    a {
      text-decoration: none;
      display: flex;
      flex-direction: column;
    }

    strong {
      font-size: 2.4rem;
      font-weight: 700;
    }

    span {
      font-size: 1.4rem;
      height: 14px;
      line-height: 20px;
    }
  }

  //Nav menu - main menu

  .nav-menu {
    display: flex;
    align-items: center;

    > li {
      > a {
        padding: 10px 20px;
        text-decoration: none;
      }
    }

    .active {
      color: variables.$primary-color;
    }

    > li {
      position: relative;
    }

    > li {
      > a {
        > span {
          &::after {
            position: absolute;
            content: "";
            top: 28px;
            right: 5px;
            width: 5px;
            height: 5px;
            color: inherit;
            border-left: 1px solid variables.$color-black;
            border-bottom: 1px solid variables.$color-black;
            rotate: 315deg;
            transition: color ease 0.4s, rotate ease 0.3s;
          }
        }
      }

      &:hover {
        > a {
          > span {
            color: variables.$primary-color;
            &::after {
              position: absolute;
              content: "";
              top: 31px;
              right: 5px;
              width: 5px;
              height: 5px;
              color: inherit;
              border-left: 1px solid variables.$primary-color;
              border-bottom: 1px solid variables.$primary-color;
              rotate: 135deg;
            }
          }
        }
      }
    }

    //Nav menu - sub menu

    .sub-menu {
      position: absolute;
      opacity: 0;
      visibility: hidden;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      padding-left: 20px;
      padding-right: 20px;
      top: 130%;
      left: auto;
      right: auto;
      z-index: 99;
      min-width: 185px;
      min-height: 252px;
      background-color: #fff;
      transition: opacity ease-in-out 0.4s, visibility ease-in-out 0.4s;

      a {
        text-decoration: none;
        color: variables.$color-grey;
      }

      > li {
        position: relative;
      }

      span {
        &::after {
          position: absolute;
          content: "";
          top: 8px;
          right: 0px;
          width: 5px;
          height: 5px;
          color: inherit;
          border-left: 1px solid variables.$color-black;
          border-bottom: 1px solid variables.$color-black;
          rotate: 224deg;
          transition: all ease 0.5s;
        }
      }

      > li:hover {
        span {
          color: variables.$primary-color;
          &::after {
            border-left: 1px solid variables.$primary-color;
            border-bottom: 1px solid variables.$primary-color;
          }
        }
      }
    }

    > li:hover {
      .sub-menu {
        opacity: 1;
        visibility: visible;
      }
    }
  }

  //Drawer Menu

  .menu-open {
    display: none;
    font-size: 2.8rem;

    @include mixins.screen(xl) {
      display: flex;
      align-items: center;
      height: 100%;
    }
  }

  .menu-drawer {
    position: fixed;
    padding: 30px 20px 20px;
    width: 50%;
    inset: 0;
    z-index: 999;
    background: #f8ebc9;
    translate: -101%;

    .drawer-list {
      margin-top: 50px;
      > li {
        position: relative;
        > a {
          display: block;
          text-decoration: none;
          color: variables.$color-black;
          font-family: variables.$heading-font;
          padding-left: 15px;
          padding-right: 15px;
          height: 44px;
          line-height: 44px;
          border-bottom: 1px solid #ccc;
          text-transform: uppercase;
          font-weight: 700;
        }

        &::after {
          position: absolute;
          content: "";
          top: 17px;
          right: 22px;
          width: 10px;
          height: 10px;
          color: inherit;
          border-left: 3px solid variables.$color-black;
          border-bottom: 3px solid variables.$color-black;
          rotate: 225deg;
        }
      }

      .sub-menu {
        max-height: 0;
        opacity: 0;
        visibility: hidden;
        width: 90%;
        font-weight: 500;
        color: #fff;
        border-top: none;
        > li {
          position: relative;
          a {
            display: block;
            text-decoration: none;
            color: variables.$color-grey;
            background-color: variables.$color-white;
            padding-left: 15px;
            padding-right: 15px;
            height: 35px;
            line-height: 35px;
          }
          &::after {
            position: absolute;
            content: "";
            top: 12px;
            right: 20px;
            width: 5px;
            height: 5px;
            color: inherit;
            border-left: 2px solid variables.$color-grey;
            border-bottom: 2px solid variables.$color-grey;
            rotate: 225deg;
          }
        }
      }

      > li:hover {
        .sub-menu {
          max-height: 350px;
          opacity: 1;
          visibility: visible;
        }
      }
    }
  }

  .menu-close {
    position: absolute;
    top: 10px;
    right: 40px;
    display: block;
    font-size: 3.5rem;
  }

  .drawer-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    z-index: 998;
  }

  #drawer:checked ~ .menu-drawer {
    translate: 0;
  }

  #drawer:checked ~ .drawer-overlay {
    opacity: 0.8;
    visibility: visible;
  }

  //Contact

  .header-contact {
    justify-self: end;

    strong {
      font-size: 2.2rem;
      font-weight: 700;
    }

    a {
      text-decoration: none;
    }
  }

  @include mixins.screen(xl) {
    .nav-menu {
      display: none;
    }

    .header {
      justify-content: space-between;
    }
  }
}
