<header class="header">
  <div class="container">
    <%- include("./partials/navigation.ejs") %>
    <div class="header-content">
      <div class="row">
        <div
          class="gx-3 col-6 col-xl-5 col-lg-4 gx-lg-3 col-md-12 gy-md-5 col-sm-12"
        >
          <div class="header-text">
            <span class="hashtag">#1 Law Firm in New York</span>
            <h1>Where People Meets Personalized Support.</h1>
            <p>
              Where every injury is personal. We are a different kind of law
              firm. Let our small, passionate group of trial lawyers fight for
              your rights!
            </p>
            <button class="btn">Get a Consultations</button>
          </div>
        </div>
        <div
          class="gx-3 col-5 offset-1 col-xl-4 col-lg-4 gx-lg-3 col-md-12 gy-md-5 col-sm-12"
        >
          <div class="header-image">
            <div class="play-group">
              <button class="play-btn"><i class="fa-solid fa-play"></i></button>
            </div>
            <div class="img-wrapper">
              <img class="img-hero" src="./img/img-header.png" alt="" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
