<header class="header">
  <div class="container">
    <div class="header-bar">
      <div class="row">
        <!-- Menu-Drawer -->
        <div class="col-0 g-0 col-xl-1 col-lg-1">
          <label for="drawer" class="menu-open">
            <i class="fa-solid fa-bars"></i>
          </label>
          <input type="checkbox" name="drawer" id="drawer" hidden />
          <label for="drawer" class="drawer-overlay"></label>
          <div class="menu-drawer">
            <label for="drawer" class="menu-close">
              <i class="fa-solid fa-xmark"></i>
            </label>
            <ul class="drawer-list">
              <li class="active"><a href="./index.html">Home</a></li>
              <li>
                <a href="./about.html">About</a>
              </li>
              <li>
                <a href="./practice.html"> Practice Areas </a>
                <ul class="sub-menu">
                  <li>
                    <a href=""> Divorce </a>
                  </li>
                  <li>
                    <a href="./practice.html">Personal Injury </a>
                  </li>
                  <li>
                    <a href=""> Employment </a>
                  </li>
                  <li>
                    <a href=""> Immigration </a>
                  </li>
                  <li>
                    <a href=""> Family </a>
                  </li>
                  <li>
                    <a href=""> Property </a>
                  </li>
                </ul>
              </li>
              <li>
                <a href="./blog.html">Blog</a>
              </li>
              <li>
                <a href="./contact.html">Contact</a>
              </li>
            </ul>
          </div>
        </div>
        <!-- Logo -->
        <div class="col-3 col-xl-5 col-lg-1">
          <div class="header-logo">
            <a href="./index.html">
              <i class="fa-solid fa-gavel"></i>
              <strong>Justice</strong>
              <span>Law Firm</span>
            </a>
          </div>
        </div>
        <!-- Menu -->
        <nav class="col-6 col-xl-1 col-lg-1">
          <ul class="nav-menu">
            <li class="active"><a href="./index.html">Home</a></li>
            <li>
              <a href="./about.html">About</a>
            </li>
            <li>
              <a href="./practice.html"> Practice Areas </a>
              <ul class="sub-menu">
                <li>
                  <a href=""> Divorce </a>
                </li>
                <li>
                  <a href="./practice.html">Personal Injury </a>
                </li>
                <li>
                  <a href=""> Employment </a>
                </li>
                <li>
                  <a href=""> Immigration </a>
                </li>
                <li>
                  <a href=""> Family </a>
                </li>
                <li>
                  <a href=""> Property </a>
                </li>
              </ul>
            </li>
            <li>
              <a href="./blog.html">Blog</a>
            </li>
            <li>
              <a href="./contact.html">Contact</a>
            </li>
          </ul>
        </nav>
        <!-- Contact -->
        <div class="col-3 col-xl-5 col-lg-9">
          <div class="header-contact">
            <p tel:to>
              Call:
              <strong><a href="tel:+000123456789">(000) 123 456 789</a></strong>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
