<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Law Firm</title>
    <%- include("./partials/head.ejs") %>
  </head>
  <body>
    <div class="wrapper">
      <%- include("./partials/header.ejs") %>

      <main>
        <!-- Blog Header -->
        <section class="our-blog">
          <div class="container">
            <div class="row">
              <div class="col">
                <div class="header-wrapper">
                  <h1>Our Regular Blog</h1>
                  <p>
                    With our experience we are ready to help you create a modern
                    property with an easy step.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- Blogs List -->
        <section class="blog-list">
          <div class="container">
            <div
              class="row g-3 row-cols-4 row-cols-xl-3 g-xl-2 row-cols-lg-2 g-lg-1 row-cols-md-1 g-md-3"
            >
              <div class="col">
                <div class="blog-wrapper">
                  <a href="" class="thumb">
                    <img
                      src="./img/img-blog-list-1.png"
                      alt="Blog Image"
                      class="blog-img"
                    />
                  </a>
                  <div class="bottom">
                    <a href="" class="desc">
                      Top 20 Effective Digital Marketing Tools to Help
                    </a>
                    <span class="date">July 27, 2021</span>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="blog-wrapper">
                  <a href="" class="thumb">
                    <img
                      src="./img/img-blog-list-2.png"
                      alt="Blog Image"
                      class="blog-img"
                    />
                  </a>
                  <div class="bottom">
                    <a href="" class="desc">
                      Top 20 Effective Digital Marketing Tools to Help
                    </a>
                    <span class="date">July 27, 2021</span>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="blog-wrapper">
                  <a href="" class="thumb">
                    <img
                      src="./img/img-blog-list-3.png"
                      alt="Blog Image"
                      class="blog-img"
                    />
                  </a>
                  <div class="bottom">
                    <a href="" class="desc">
                      Top 20 Effective Digital Marketing Tools to Help
                    </a>
                    <span class="date">July 27, 2021</span>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="blog-wrapper">
                  <a href="" class="thumb">
                    <img
                      src="./img/img-blog-list-4.png"
                      alt="Blog Image"
                      class="blog-img"
                    />
                  </a>
                  <div class="bottom">
                    <a href="" class="desc">
                      Top 20 Effective Digital Marketing Tools to Help
                    </a>
                    <span class="date">July 27, 2021</span>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="blog-wrapper">
                  <a href="" class="thumb">
                    <img
                      src="./img/img-blog-list-5.png"
                      alt="Blog Image"
                      class="blog-img"
                    />
                  </a>
                  <div class="bottom">
                    <a href="" class="desc">
                      Top 20 Effective Digital Marketing Tools to Help
                    </a>
                    <span class="date">July 27, 2021</span>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="blog-wrapper">
                  <a href="" class="thumb">
                    <img
                      src="./img/img-blog-list-6.png"
                      alt="Blog Image"
                      class="blog-img"
                    />
                  </a>
                  <div class="bottom">
                    <a href="" class="desc">
                      Top 20 Effective Digital Marketing Tools to Help
                    </a>
                    <span class="date">July 27, 2021</span>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="blog-wrapper">
                  <a href="" class="thumb">
                    <img
                      src="./img/img-blog-list-7.png"
                      alt="Blog Image"
                      class="blog-img"
                    />
                  </a>
                  <div class="bottom">
                    <a href="" class="desc">
                      Top 20 Effective Digital Marketing Tools to Help
                    </a>
                    <span class="date">July 27, 2021</span>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="blog-wrapper">
                  <a href="" class="thumb">
                    <img
                      src="./img/img-blog-list-8.png"
                      alt="Blog Image"
                      class="blog-img"
                    />
                  </a>
                  <div class="bottom">
                    <a href="" class="desc">
                      Top 20 Effective Digital Marketing Tools to Help
                    </a>
                    <span class="date">July 27, 2021</span>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="blog-wrapper">
                  <a href="" class="thumb">
                    <img
                      src="./img/img-blog-list-9.png"
                      alt="Blog Image"
                      class="blog-img"
                    />
                  </a>
                  <div class="bottom">
                    <a href="" class="desc">
                      Top 20 Effective Digital Marketing Tools to Help
                    </a>
                    <span class="date">July 27, 2021</span>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="blog-wrapper">
                  <a href="" class="thumb">
                    <img
                      src="./img/img-blog-list-10.png"
                      alt="Blog Image"
                      class="blog-img"
                    />
                  </a>
                  <div class="bottom">
                    <a href="" class="desc">
                      Top 20 Effective Digital Marketing Tools to Help
                    </a>
                    <span class="date">July 27, 2021</span>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="blog-wrapper">
                  <a href="" class="thumb">
                    <img
                      src="./img/img-blog-list-11.png"
                      alt="Blog Image"
                      class="blog-img"
                    />
                  </a>
                  <div class="bottom">
                    <a href="" class="desc">
                      Top 20 Effective Digital Marketing Tools to Help
                    </a>
                    <span class="date">July 27, 2021</span>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="blog-wrapper">
                  <a href="" class="thumb">
                    <img
                      src="./img/img-blog-list-12.png"
                      alt="Blog Image"
                      class="blog-img"
                    />
                  </a>
                  <div class="bottom">
                    <a href="" class="desc">
                      Top 20 Effective Digital Marketing Tools to Help
                    </a>
                    <span class="date">July 27, 2021</span>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="blog-wrapper">
                  <a href="" class="thumb">
                    <img
                      src="./img/img-blog-list-13.png"
                      alt="Blog Image"
                      class="blog-img"
                    />
                  </a>
                  <div class="bottom">
                    <a href="" class="desc">
                      Top 20 Effective Digital Marketing Tools to Help
                    </a>
                    <span class="date">July 27, 2021</span>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="blog-wrapper">
                  <a href="" class="thumb">
                    <img
                      src="./img/img-blog-list-14.png"
                      alt="Blog Image"
                      class="blog-img"
                    />
                  </a>
                  <div class="bottom">
                    <a href="" class="desc">
                      Top 20 Effective Digital Marketing Tools to Help
                    </a>
                    <span class="date">July 27, 2021</span>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="blog-wrapper">
                  <a href="" class="thumb">
                    <img
                      src="./img/img-blog-list-15.png"
                      alt="Blog Image"
                      class="blog-img"
                    />
                  </a>
                  <div class="bottom">
                    <a href="" class="desc">
                      Top 20 Effective Digital Marketing Tools to Help
                    </a>
                    <span class="date">July 27, 2021</span>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="blog-wrapper">
                  <a href="" class="thumb">
                    <img
                      src="./img/img-blog-list-16.png"
                      alt="Blog Image"
                      class="blog-img"
                    />
                  </a>
                  <div class="bottom">
                    <a href="" class="desc">
                      Top 20 Effective Digital Marketing Tools to Help
                    </a>
                    <span class="date">July 27, 2021</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="row-cols-1">
              <div class="col">
                <div class="btn">
                  <a href="">Load More</a>
                </div>
              </div>
            </div>
          </div>
        </section>
      </main>

      <%- include("./partials/footer.ejs") %>
    </div>
    <script type="module" src="./main.js"></script>
  </body>
</html>
