<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Law Firm</title>
    <%- include("./partials/head.ejs") %>
  </head>
  <body>
    <div class="wrapper">
      <%- include("./partials/header.ejs") %>

      <main>
        <!-- Contact header -->
        <section class="contact">
          <div class="container">
            <div class="row">
              <div class="col-7 col-lg-12 col-md-12">
                <div class="contact-header">
                  <span class="contact-tag">Contact Us</span>
                  <h1>We Are Always Ready To Hear For You.</h1>
                  <p>
                    The right move at the right time saves your investment. live
                    the dream of expanding your business.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- Contact form -->
        <section class="form">
          <div class="container">
            <form action="">
              <div class="row g-3 g-xl-2 g-xl-1">
                <div class="col-6 col-md-12">
                  <input
                    type="text"
                    name=""
                    id=""
                    class="name"
                    placeholder="Enter your name"
                  />
                </div>
                <div class="col-6 col-md-12">
                  <input
                    type="text"
                    name=""
                    id=""
                    class="company"
                    placeholder="Company (optional)"
                  />
                </div>
                <div class="col-6 col-md-12">
                  <input
                    type="text"
                    name=""
                    id=""
                    class="email"
                    placeholder="Your email"
                  />
                </div>
                <div class="col-6 col-md-12">
                  <input
                    type="text"
                    name=""
                    id=""
                    class="phone"
                    placeholder="Phone number"
                  />
                </div>
                <div class="col-12 col-md-12">
                  <input
                    type="text"
                    name=""
                    id=""
                    class="about-ys"
                    placeholder="Tell us about yourself"
                  />
                </div>
                <div class="col-2 col-xl-3 col-md-4 col-sm-6">
                  <button type="submit" class="btn">Contact us</button>
                </div>
              </div>
            </form>
          </div>
        </section>
      </main>

      <%- include("./partials/footer.ejs") %>
    </div>
    <script type="module" src="./main.js"></script>
  </body>
</html>
