$grid-breakpoints: (
  xxl: 1400px,
  xl: 1200px,
  lg: 992px,
  md: 768px,
  sm: 576px,
);

$heading-font: "Roboto Slab", serif;
$color-white: #fff;
$color-black: #0e1412;
$color-grey: #586863;
$color-yellow: #f8ebc9;
$primary-color: #fd6038;
$secondary-color: #fed464;
$tertiary-color: #017848;
